.ant-menu-horizontal > .ant-menu-item:hover , .ant-menu-horizontal > .ant-menu-item-selected
{
    color: #94E8E3;
    border-bottom: 2px solid #94E8E3;
}
.ant-menu-item {
    font-size: 1rem;
    font-weight: 500;
}